
<html lang="en">
      <%- include('./partials/head.ejs') %> 
<body>
      <%- include('./partials/nav.ejs') %> 
      <div class="about content">
            <h1>About us</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore vero, quisquam iste accusantium excepturi repellat </p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore vero, quisquam iste accusantium excepturi repellat.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore vero, quisquam iste accusantium excepturi repellat.</p>
            
      </div>
      <%- include('./partials/footer.ejs') %>
</body>